{include file="../../view/dashboard/header.html" title=foo}

<script type="text/javascript">
  function apagar(estoria,projeto,usuario) {
    if (window.confirm('Deseja realmente remover esse usuário?')) {
      window.location = '../../controller/sprint_backlog/excluirUsuarioResponsavel.php?idProjeto=' + projeto + '&usuario=' + usuario + '&idEstoria=' + estoria;
    }
  }
</script>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Editar Estória</h1>
</div>

<!-- Content Row -->
<div class="col-md-8"> 
<div class="row">

	<!-- início do post -->
	
  	<div class = "post">
      <form class="form-horizontal" method="POST" action="../../controller/sprint_backlog/editarEstoria.php?idEstoria={$estoria->getId()}&idProjeto={$projeto->getId()}" enctype="multipart/form-data" data-toggle="validator">
        
  		  <!--início do campo do formulário-->
          <div class="form-group required">
          <label class="control-label col-sm-20" for="nome">Estória:</label>
          <div class="col-sm-30">
            <input type="text" readonly class="form-control" id="nome" name="nome" value="{$estoria->getNome()}" required>
          </div> <!--fim col-sm-5-->
          </div> <!--fim form-group-->
        <!--fim do campo do formulário-->

        <!--início do campo do formulário-->
          <div class="form-group required">
          <label class="control-label col-sm-20" for="descricao">Descrição:</label>
          <div class="col-sm-30">
            <textarea class="form-control" id="descricao" name="descricao" readonly>{$estoria->getDesc()}</textarea>
          </div> <!--fim col-sm-5-->
          </div> <!--fim form-group-->
        <!--fim do campo do formulário-->

       <!--início do campo do formulário-->
        <div class="form-group required">
          <label class="control-label" for="nivel_dificuldade">Selecione o nível de dificuldade:</label>
            <select class="form-control" id=nivel_dificuldade name="nivel_dificuldade">

              {if ($estoria->getNivelDificuldade() == 1)}
                <option value ="1" selected>Baixo</option>
              {else}
                <option value="1">Baixo</option>
              {/if}
             
              {if ($estoria->getNivelDificuldade() == 2)}
                <option value ="2" selected>Médio</option>
              {else}
                <option value="2">Médio</option>
              {/if}

              {if ($estoria->getNivelDificuldade() == 3)}
                <option value ="3" selected>Alto</option>
              {else}
                <option value="3">Alto</option>
              {/if}

              {if ($estoria->getNivelDificuldade() == 4)}
                <option value ="4" selected>Muito Alto</option>
              {else}
                <option value="4">Muito Alto</option>
              {/if} 

            </select>
        </div>
        <!--fim do campo do formulário-->
        
        <!--início do campo do formulário-->
          <div class="form-group required">
          <label class="control-label col-sm-20" for="nome">Informe a duração da estória:</label>
          <div class="col-sm-30">
            <input type="text" class="form-control" id="duracao" name="duracao" value="{$estoria->getDuracao()}" required>
          </div> <!--fim col-sm-5-->
          </div> <!--fim form-group-->
        <!--fim do campo do formulário-->

        <b>Usuários Responsáveis pela Estória:</b>

        <br>

        {foreach item=responsavel from=$estoria->getResponsaveis()}
          {$responsavel->getNome()} {$responsavel->getSobrenome()}

          <a title="Excluir Usuário" style="color:red" onclick="apagar('{$estoria->getId()}','{$projeto->getId()}','{$responsavel->getUsuario()}');"><i class="fas fa-trash-alt"></i></a>

          <br>

        {/foreach}

        <br>

        <div>
          <input type="submit" class="btn btn-success" name="atualizar" value="Atualizar"></input>
                <!--<input type="button" data-toggle="modal" data-target="#confirm-submit" class="btn btn-success" name="atualizar" value="Atualizar" id="myBtn"></input>-->
  			  
  	       <a href="javascript:window.history.go(-1)"><input type="button" class="btn btn-default" value="Cancelar"></input></a>
        </div> 
      
      </form>
    </div> <!-- fim da div post -->
    <!-- fim do post -->  
</div>
</div>

{include file="../../view/dashboard/footer.html" title=foo}