{include file="../../view/dashboard/header.html" title=foo}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Projetos</h1>
</div> 

<div class="container theme-showcase" role="main">

	<!-- Content Row -->
	<div class="row">

	  <div>
	    <a href="../../controller/projeto/criarProjeto.php" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus-circle"></i> Criar Projeto</a>
	    <a href="../../controller/projeto/entrarProjeto.php" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-sign-in-alt"></i> Participar de um Projeto</a>
	  </div>
	  
	</div>
	<br>
	<div class="row">

	{foreach name=laco1 item=projeto from=$projetos}

		<!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">

                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                  	{$projeto->getNome()}
                  </div>
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  	{if $projeto->getScrumMaster() == 1}
                  		#{$projeto->getId()}
                  	{/if}
                  </div>

                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal{$projeto->getId()}"><i class="fas fa-eye"></i></button>

                  	<!-- Inicio Modal -->
					<div class="modal fade" id="myModal{$projeto->getId()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class= "modal-header">
								<h4 class="modal-title text-center" id="myModalLabel">{$projeto->getNome()}</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body">
									<p>{$projeto->getDesc()}</p>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary" type="button" data-dismiss="modal">Fechar</button>
									<a class="btn btn-primary" href="../../controller/projeto/dashboardProjeto.php?id={$projeto->getId()}">Ir para o Projeto</a>
								</div> 

							</div>
						</div>
					</div>
					<!-- Fim Modal -->
								
					<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#ModalUsers{$projeto->getId()}"><i class="fa fa-user"></i></button>

					<!-- Inicio Modal integrantes -->
					<div class="modal fade" id="ModalUsers{$projeto->getId()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class= "modal-header">
								<h4 class="modal-title" id="myModalLabel">{$projeto->getNome()}: Equipe</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body">
									<p>
										{foreach item=participante from=$projeto->getParticipantes()}
											
											<b>{$participante->getNome()} {$participante->getSobrenome()} </b>
											<br>
											<i class="fas fa-user"></i> <i>{$participante->getUsuario()}</i> 
											<br>
											<i class="fas fa-envelope"></i> <i>{$participante->getEmail()}</i>
											<br>
											<i class="fas fa-users"></i> 
											{if ($participante->getScrumMaster() == 1)} 
												Scrum Master 
											{else} 
												Membro da Equipe 
											{/if}
											<br><br>
										{/foreach}
									</p>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" type="button" data-dismiss="modal">Fechar</button>
									
								</div> 

							</div>
						</div>
					</div>
					<!-- Fim Modal -->
				
		      	  {if $projeto->getScrumMaster() == 1}
					
					<a href="../../controller/projeto/exibirProjeto.php?id={$projeto->getId()}"><button type="button" class="btn-sm btn btn-warning"><i class="fas fa-pencil-alt"></i></button></a>

					<button onclick="apagar('{$projeto->getId()}');" type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>

					<script type="text/javascript">
						function apagar(projeto) {
							if (window.confirm('Deseja realmente apagar este projeto? Essa ação não poderá ser desfeita.')) {
								window.location = '../../controller/projeto/excluirProjeto.php?projeto=' + projeto;
							}
						}
					</script>

				  {/if}

                </div>
                <div class="col-auto">
                  <i class="fas fa-2x text-gray-300 fa-folder"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

    {/foreach}
	</div> <!--row-->	
</div> <!--container-->	

{include file="../../view/dashboard/footer.html" title=foo}
