{include file="../view/header.html" title=foo}

<!-- Título da Página -->
<h1 class="h3 mb-1 text-gray-800">{$projeto->getNome()}</h1>
<p class="mb-4"></p>

<!-- div - conteúdo horizontal -->
<div class="row">

	{if (!($projeto->getScrumMaster()))}

	<!-- Primeira Coluna -->
	<div class="col-lg-3"> 

	  <!-- Título -->
	  <div class="card shadow mb-4">
	    <div class="card-header py-3">
	      <h6 class="font-weight-bold text-danger text-uppercase mb-1">Meu Trabalho</h6>
	    </div>
	    <div style="padding: 10px 10px;">
		
			{if $meuTrabalho->getEstorias() != null}
				{foreach item=estoria from=$meuTrabalho->getEstorias()}
									
				    <div class="card border-left-danger h-10">

				        <!-- Collapsable Card Example -->
              			<div class="card">

	                		<!-- Card Header - Accordion -->
	            			<a href="#estoriaMeuTrabalho-{$estoria->getId()}" class="d-block card-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="estoriaMeuTrabalho-{$estoria->getId()}">
	                  			<h6 class="font-weight-bold text-secondary">{$estoria->getNome()}</h6>
	                		</a>

	                		<!-- Card Content - Collapse -->
	                		<div class="collapse" id="estoriaMeuTrabalho-{$estoria->getId()}">
	                  			<div class="card-body">
	                    			{$estoria->getDesc()}
					            	<br>
					            	<b>Situação:</b> {$estoria->getSituacao()}
					            	<a href="" style="color: red" data-toggle="modal" data-target="#situacao-{$estoria->getId()}" title="Adicionar Situação" ><i class="fas fa-pencil-alt"></i> 
					            	</a>
					            	<br>
					            	<b>Nível de Dificuldade:</b> {$estoria->getNivelDificuldade()}
					            	<br>
					            	<b>Duração:</b> {$estoria->getDuracao()} horas
					            	<b>Responsáveis:</b>
					            	{foreach item=responsavel from=$estoria->getResponsaveis()}
										<br>
										{$responsavel->getNome()} {$responsavel->getSobrenome()}
									{/foreach}
									
									
					            	
									<br><br>

									<button data-toggle="modal" data-target="#adicionarTarefa-{$estoria->getId()}" type="button" title="Adicionar Subtarefa" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="fas fa-tasks"></i>  Adicionar Tarefa</button>

									<!-- Inicio Modal -->
									<div class="modal fade" id="adicionarTarefa-{$estoria->getId()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class= "modal-header">
													<h4 class="modal-title text-center" id="myModalLabel">
														Adicionar Tarefa
													</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span></button>
												</div>
												<div class="modal-body">
													<form class="form-horizontal" method="POST" action="../controller/cadastrarTarefa.php?idEstoria={$estoria->getId()}&idProjeto={$projeto->getId()}" enctype="multipart/form-data" data-toggle="validator">
														<label for="recipient-name" class="control-label">Informe o nome da tarefa:</label>
														<input name="nome" type="text" class="form-control" id="recipient-name">
												</div>
												<div class="modal-footer">
													<button class="btn btn-secondary" type="button" data-dismiss="modal">Fechar</button>
													<input type="submit" class="btn btn-success" name="cadastrar_tarefa" value="Adicionar"></input>
													</form>
												</div> 
											</div>
										</div>
									</div>
								
									<br>

									<div class = "post">
									<form class="form-horizontal" method="POST" action="../controller/editarSituacao.php?idEstoria={$estoria->getId()}&idProjeto={$projeto->getId()}" enctype="multipart/form-data" data-toggle="validator">
									
									<!-- Inicio Modal -->
									<div class="modal fade" id="situacao-{$estoria->getId()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class= "modal-header">
													<h4 class="modal-title text-center" id="myModalLabel">	
														Situação
													</h4>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span></button>
												</div>
												<div class="modal-body">
													
														<label class="control-label" for="situacao">Selecione a situação:</label>
														<select id=situacao name="situacao">
															<option value="1">Não Iniciada</option>
															<option value="2">Iniciada</option>
															<option value="3">Concluída</option> 
														</select>
												</div>
												<div class="modal-footer">
													<button class="btn btn-secondary" type="button" data-dismiss="modal">Fechar</button>
													<input type="submit" class="btn btn-success" name="atualizar" value="Atualizar"></input>
													<!--<input type="button" data-toggle="modal" data-target="#confirm-submit" class="btn btn-success" name="atualizar" value="Atualizar" id="myBtn"></input>-->
													</form>
												</div> 
											</div>
										</div>
									</div>
									
									
									<!-- Fim Modal -->
						{if $estoria->getTarefas() != null}
							{foreach item=tarefa from=$estoria->getTarefas()}
									<br>
									<b>Nome: </b> {$tarefa->getNome()}
									</b>
					            	<b>Situação:</b> {$tarefa->getSituacao()}
					            	<br>
					            	
			
									{/foreach}
									{/if}
						

	                  			</div>
	                		</div>
						</div>
						</div>
              		</div>
              	{/foreach}
			{/if}		
		</div>
	  </div>

	</div>

	{/if}

	<!-- Segunda Coluna -->
	<div class="col-lg-3">

	  <!-- Título -->
	  <div class="card shadow mb-4">
	    <div class="card-header py-3">
	      <h6 class="font-weight-bold text-warning text-uppercase mb-1">Product Backlog</h6>
	    </div>
	    <div style="padding: 10px 10px;">

		    {if $productBacklog->getEstorias() != null}
				{foreach item=estoria from=$productBacklog->getEstorias()}
		    	
				    <div class="card border-left-warning h-10">

				        <!-- Collapsable Card Example -->
              			<div class="card">

	                		<!-- Card Header - Accordion -->
	            			<a href="#estoriaProductBacklog-{$estoria->getId()}" class="d-block card-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="estoriaProductBacklog-{$estoria->getId()}">
	                  			<h6 class="font-weight-bold text-secondary">{$estoria->getNome()}</h6>
	                		</a>

	                		<!-- Card Content - Collapse -->
	                		<div class="collapse" id="estoriaProductBacklog-{$estoria->getId()}">
	                  			<div class="card-body">
	                    			{$estoria->getDesc()}

	                    			<br><br>

					            	{if $projeto->getScrumMaster() == 1}

					            		{if $estoria->getSprintBacklog() == 0}

											<a href="../controller/criarEstoriaSprintBacklog.php?id={$projeto->getId()}&id_estoria={$estoria->getId()}" title="Adicionar estória ao Sprint Backlog" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus"></i></a>

										{else}

											<a href="../controller/criarEstoriaSprintBacklog.php?id={$projeto->getId()}&id_estoria={$estoria->getId()}" title="Adicionar estória ao Sprint Backlog" class="disabled d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus"></i></a>

										{/if}

										<button title="Editar estória" onclick="editar('{$estoria->getId()}','{$projeto->getId()}')" type="button" class="btn btn-sm btn-warning"><i class="fas fa-pencil-alt"></i></button>

										<script type="text/javascript">
											function editar(estoria,projeto) {												
												window.location = '../controller/exibirEstoria.php?idEstoria=' + estoria + '&idProjeto=' + projeto;	
											}
										</script>		

										<button title="Excluir estória" onclick="apagarEstoriaProductBacklog('{$estoria->getId()}','{$projeto->getId()}');" type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>

										<script type="text/javascript">
											function apagarEstoriaProductBacklog(estoria,projeto) {
												if (window.confirm('Deseja realmente excluir esta estória do projeto? Essa ação não poderá ser desfeita.')) {
													window.location = '../controller/excluirEstoria.php?idEstoria=' + estoria + '&idProjeto=' + projeto;
												}
											}
										</script>

									{/if}

	                  			</div>
	                		</div>
              			</div>
              		</div>
              	{/foreach}
			{/if}	

			{if ($projeto->getScrumMaster())}

				<br>

			  	<div style="padding-bottom: 10px;" class="col mr-2">
			      <a href="../controller/criarEstoria.php?id={$projeto->getId()}" class="d-none d-sm-inline-block btn btn-warning shadow-sm"><i class="fas fa-plus"></i> Cadastrar nova estória</a>
			    </div>

	    	{/if}

		</div>
	  </div>
	</div> <!-- fim coluna -->

	<!-- Terceira Coluna -->
	<div class="col-lg-3">

	  <!-- Título -->
	  <div class="card shadow mb-4">
	    <div class="card-header py-3">
	      <h6 class="font-weight-bold text-info text-uppercase mb-1">Sprint Backlog</h6>
	    </div>
	    <div style="padding: 10px 10px;">
		    {if $sprintBacklog->getEstorias() != null}
				{foreach item=estoria from=$sprintBacklog->getEstorias()}
		    	
				    <div class="card border-left-info h-10">

				        <!-- Collapsable Card Example -->
              			<div class="card">

	                		<!-- Card Header - Accordion -->
	            			<a href="#estoriaSprintBacklog-{$estoria->getId()}" class="d-block card-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="estoriaSprintBacklog-{$estoria->getId()}">
	                  			<h6 class="font-weight-bold text-secondary">{$estoria->getNome()}</h6>
	                		</a>

	                		<!-- Card Content - Collapse -->
	                		<div class="collapse" id="estoriaSprintBacklog-{$estoria->getId()}">
	                  			<div class="card-body">
	                    			{$estoria->getDesc()}
					            	<br>
					            	<b>Situação:</b> {$estoria->getSituacao()}
					            	<br>
					            	<b>Nível de Dificuldade:</b> {$estoria->getNivelDificuldade()}
					            	<br>
					            	<b>Duração:</b> {$estoria->getDuracao()} horas
					            	<b>Responsáveis:</b>
					            	{foreach item=responsavel from=$estoria->getResponsaveis()}
										<br>
										{$responsavel->getNome()} {$responsavel->getSobrenome()}
									{/foreach}

					            	{if $projeto->getScrumMaster() == 1}
					            		<br>
						            	<br>
										<a href="../controller/exibirEstoriaSprintBacklog.php?idEstoria={$estoria->getId()}&idProjeto={$projeto->getId()}">
											<button title="Editar estória" type="button" class="btn-sm btn btn-warning"><i class="fas fa-pencil-alt"></i>
											</button>
										</a>

										<button title="Excluir estória do Sprint Backlog" onclick="apagarEstoriaSprintBacklog('{$estoria->getId()}','{$projeto->getId()}');" type="button" class="btn-sm btn btn-danger"><i class="fas fa-trash-alt"></i></button>

										<script type="text/javascript">
											function apagarEstoriaSprintBacklog(estoria, idProjeto) {
												if (window.confirm('Deseja realmente excluir esta estória do Sprint Backlog?')) {
													window.location = '../controller/excluirEstoriaSprintBacklog.php?idEstoria=' + estoria + '&idProjeto=' + idProjeto;
												}
											}
										</script>

									{/if}
	                  			</div>
	                		</div>
              			</div>
              		</div>
              	{/foreach}
			{/if}		
		</div>
	  </div>
	</div> <!-- fim coluna -->

	<!-- Quarta Coluna -->
	<div class="col-lg-3">

	  <!-- Título -->
	  <div class="card shadow mb-4">
	    <div class="card-header py-3">
	      <h6 class="font-weight-bold text-success text-uppercase mb-1">Finalizado</h6>
	    </div>

	    <div style="padding: 10px 10px;">
		
		
	    </div>
	    
	  </div>

	</div>

</div>

{include file="../view/footer.html" title=foo}
